<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- Clear existing connection strings and add new SQLite connection string -->
		<clear />
		<add name="festival"
             providerName="System.Data.SQLite"
             connectionString="Data Source=C:\MPP\C#\Lab2\Lab2\festival.db" />
	</connectionStrings>
</configuration>