<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="Server=ANCA-LAPTOP\SQLEXPRESS;Database=MagazinDeBijuterii;
        Integrated Security=True;TrustServerCertificate=True;"/>
	</connectionStrings>
	<appSettings>
		<add key="ParentTableName" value="BorderouMarcare"/>
		<add key="ChildTableName" value="Bijuterie"/>
		<add key="IndexID" value="0"/>
		<add key="ChildToParentID" value="id_borderou" />
		<add key="ChildNumberOfColumns" value="5" />
		<add key="ChildColumnNames" value="id_bij,pret_bij,descriere_bij,gramaj_bij,id_borderou"/>
		<add key="ChildColumnTypes" value="string,float,string,float,string"/>
		<add key="ChildArr" value="@id,@pret,@descriere,@gramaj,@id_b"/>
		<add key="ChildInsertQuery" value="Insert into Bijuterie(id_bij,pret_bij,descriere_bij,gramaj_bij,id_borderou) values(@id,@descriere,@pret,@gramaj,@id_b)"/>
		<add key="ChildDeleteQuery" value="Delete from Bijuterie WHERE id_bij = @id"/>
		<add key="ChildUpdateQuery" value="UPDATE Bijuterie SET pret_bij = @pret, descriere_bij = @descriere, gramaj_bij = @gramaj,id_borderou=@id_b WHERE id_bij = @id"/>
	</appSettings>
</configuration>