<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="Server=ANCA-LAPTOP\SQLEXPRESS;Database=MagazinDeBijuterii;
        Integrated Security=True;TrustServerCertificate=True;"/>
	</connectionStrings>
	<appSettings>
		<add key="select" value="SELECT * FROM BorderouMarcare" />
		
	</appSettings>
</configuration>