<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="Server=ANCA-LAPTOP\SQLEXPRESS;Database=MagazinDeBijuterii;
        Integrated Security=True;TrustServerCertificate=True;"/>
	</connectionStrings>
	<appSettings>
		<add key="tabel_parinte" value="BorderouMarcare"/>
		<add key="tabel_copil" value="Bijuterie"/>
		<add key="coloana_copil" value="id_borderou" />
		<add key="nrcoloane" value="4" />
		<add key="nume_coloane" value="id_bij,pret_bij,descriere_bij,gramaj_bij"/>
		<add key="tip_coloane" value="string,double,string,double"/>
		<add key="argumente" value="@id,@pret,@descriere,@gramaj"/>
		<add key="add_query" value="Insert into Bijuterie(id_bij,pret_bij,descriere_bij,gramaj_bij,id_borderou) values(@id,@pret,@descriere,@gramaj,@id_b)"/>
		<add key="delete_query" value="Delete from Bijuterie WHERE id_bij = @id"/>
		<add key="update_query" value="UPDATE Bijuterie SET pret_bij = @pret, descriere_bij = @descriere, gramaj_bij = @gramaj WHERE id_bij = @id"/>
	</appSettings>
</configuration>